@import url("https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap");

:root {
  --light-grey: #51556b;
  --medium-grey: #3f4253;
  --dark-grey: #282a36;
  --very-dark-grey: #1a1c24;
  --red: #ff5555;
  --purple: #bd93f9;
  --green: #50fa7b;
  --yellow: #f1fa8c;
  --orange: #ffb86c;
  --blue: #8be9fd;
  --pink: #ff79c6;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--dark-grey);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    overflow-x: hidden;
  }

  body,
  input {
    font-family: Zain, sans-serif;
    font-weight: 400;
  }

  body {
    width: 100%;
    min-height: 100vh;
  }
}

@layer typography {
  a {
    font-weight: 600;
    text-decoration: none;
    color: var(--blue);
    transition: opacity 0.2s ease-in-out;
  }

  a:hover {
    opacity: 0.8;
  }
}

@layer icons {
  .heart-icon {
    overflow: visible;
    stroke-width: 1.5px;
    width: 16px;
    height: 16px;
    fill: none;
    stroke: var(--blue);
  }
  .logo {
    width: 18px;
    height: 18px;
    fill: var(--blue);
    margin: 8px;
  }

  .search-icon {
    opacity: 1;
    width: 16px;
    height: 16px;
    fill: none;
    stroke: var(--blue);
    stroke-width: 1.5px;
    overflow: visible;
    transition: opacity 0.2s ease-in-out;
  }

  .search-icon:hover {
    opacity: 0.8;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
