.movie-card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 312px;
  margin: 0 auto;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--very-dark-grey);
  transition: transform 0.2s;
}

.movie-card:hover {
  transform: translateY(-5px);
}

.movie-card__poster {
  position: relative;
  aspect-ratio: 2/3;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--very-dark-grey);
  overflow: hidden;
}

.movie-card__poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.poster-fallback {
  width: 312px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px;
  color: white;
  font-size: 16px;
}

.movie-card__overlay {
  visibility: hidden;
}

.favorite-btn--desktop {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.favorite-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 8px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 50%;
  font-size: 24px;
  width: 40px;
  height: 40px;
  transition: background-color 0.2s ease-in-out;
}

.favorite-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.favorite-btn.active {
  color: var(--red);
}

.movie-card__txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  gap: 8px;
}

.movie-card__txt h3 {
  font-size: 1rem;
  margin: 0;
}

.movie-card__txt p {
  color: #999;
  font-size: 0.9rem;
}

.user-rating {
  color: #ffd700;
  font-size: 0.9rem;
  margin-top: auto;
}

@media (max-width: 768px) {
  .movie-card {
    font-size: 0.9rem;
  }

  .movie-info {
    padding: 0.75rem;
  }

  .favorite-btn {
    width: 32px;
    height: 32px;
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .movie-card__overlay {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.8)
    );
    opacity: 0;
    transition: opacity 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
  }

  .movie-card:hover .movie-card__overlay {
    opacity: 1;
  }

  .favorite-btn--mobile {
    visibility: hidden;
  }
}
